#rtPage {
    overflow:hidden;
    width: 100vw;
    max-width: 75vw;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.rtTitle{
    padding: 3rem;
    font-size: 3rem;
    font-weight: 600;
}
.rtText {
    font-size: 1rem;
    font-weight: 200;
    color: rgba(252, 147, 173, 0.8);
    max-width: 55vw;
    margin-bottom: 4rem;
} 


.btns {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.dwBtn, .vwBtn {
    background: rgb(252, 147, 173, 0.8);
    padding: 1rem 2rem;
    font-size: medium;
    font-weight: 400;
    border: none;
    border-radius: 0.5rem;
    margin: 10vh 0;
}
.dwBtn{
    margin-right: 5vw ;
}
.vwBtn{
    margin-left: 5vw;
}
.dwBtn:hover ,.vwBtn:hover {
    box-shadow: 0 0 1px 2px rgb(252, 147, 173);
    transform: scale(1.01);
    transition: 10ms;
}


