#ctPage {
    overflow:hidden;
    width: 100vw;
    max-width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.ctTitle{
    padding: 3rem;
    font-size: 3rem;
    font-weight: 600;
    color:rgba(252, 147, 173, 0.8);
}
.ctText {
    font-size: 1rem;
    font-weight: 200;
    color: #FC93AD;
    max-width: 55vw;
    margin-bottom: 1.5rem;
} 

.cts {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}
.ctForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 60vw;
    margin: 1rem;
}
.txt, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40vw;
    margin: 0.5rem 0;
    padding: 1rem 1rem;
    background: rgba(255, 255, 255, 0.1);
    color: rgb(252, 147, 173);
    border: none;
    border-radius: 1rem;
}
.swal-overlay {
    background-color: #FC93AD;
  }
.Links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}
.link {
    border-radius: 0.5rem;
    width: 3rem;
    display: block;
}
.link:hover {
    transform: scale(1.01);
    box-shadow: 0 0 1px 1px rgb(252, 147, 173, 0.5);
}
.submitBt {
    width: 8rem;
    margin: 1rem;
    border: none;
    border-radius: 0.25rem;
    background: rgba(252, 147, 173, 0.8);
    padding: 0.5rem 0;
    color:black;
    cursor: pointer;
}
.submitBt:hover{
    background: rgb(252, 147, 173);
    color: black;
}

