.footerr {
    width: 100vw;
    height: 4rem;
    background: rgb(40,40,40);
    color: rgb(252, 147, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}